/**
 * sass/theme/colors.scss
 * @package blueprint
 * @author Scott Shealy
 * @version 1.0.0 (2025.12.01)
 * @copyright 2025 (2025.12.01)
**/

// LOAD PARTIALS
// BRAND COLLECTION
    $color-brand-1: #000000;
    $color-brand-2: #000000;
    $color-brand-3: #000000;
    $color-brand-4: #000000;
    $color-brand-5: #000000;
    $color-brand-6: #000000;
    $color-brand-7: #000000;
    $color-brand-8: #000000;