/**
 * sass/theme/index.scss
 * @package blueprint
 * @author Scott Shealy
 * @version 1.0.0 (2025.12.01)
 * @copyright 2025 (2025.12.01)
**/

// THEME PATH
    $theme-path: "/wp-content/themes/blueprint";

// LOAD PARTIALS
// FORWARD PARTIALS
    @forward "meta";
    @forward "colors";
    @forward "global";
    @forward "media";
    @forward "links";
    @forward "shadows";
    @forward "text";
    @forward "borders";
    @forward "buttons";
    @forward "backgrounds";
    @forward "gradients";
    @forward "tables";
    @forward "lists";
    @forward "banners";
    @forward "wrappers";
    @forward "sections";
    @forward "header";
    @forward "footer";
    @forward "heroes";
    @forward "components";
    @forward "parts";