/**
 * sass/theme/links.scss
 * @package blueprint
 * @author Scott Shealy
 * @version 1.0.0 (2025.12.01)
 * @copyright 2025 (2025.12.01)
**/

// LOAD PARTIALS
    @use "colors" as *;
    @use "../variables/index" as *;

// FORWARD PARTIALS

// COLORS
    $link-color: $color-brand-1-0;
    $link-hover-color: $color-brand-1-dark-3;

// HOVER ADJUSTMENTS
    $link-hover-adjustment: 3.00;
    $link-hover-adjustment-color: $color-adjustment-dark;