/**
 * sass/theme/lists.scss
 * @package blueprint
 * @author Scott Shealy
 * @version 1.0.0 (2025.12.01)
 * @copyright 2025 (2025.12.01)
**/

// LOAD PARTIALS
    @use "colors" as *;
    @use "tables" as *;
    @use "../variables/index" as *;

// FORWARD PARTIALS

// LIST STYLES
    $list-row-odd-background: $table-row-odd-background;
    $list-row-even-background: $table-row-even-background;