/**
 * sass/theme/media.scss
 * @package blueprint
 * @author Scott Shealy
 * @version 1.0.0 (2025.12.01)
 * @copyright 2025 (2025.12.01)
**/

// LOAD PARTIALS
    @use "../variables/index" as *;

// MEDIA QUERIES
    $media-xs: $media-col-xs;
    $media-sm: $media-col-sm;
    $media-md: $media-col-md;
    $media-lg: $media-col-lg;
    $media-xl: $media-col-xl;
    $media-xxl: $media-col-xxl;