/**
 * Theme Name: Blueprint
 * Theme URI: https://github.com/vsshealy/blueprint
 * Description: A custom WordPress blueprint Bricks child theme.
 * Author: Scott Shealy
 * Author URI: https://www.scottshealy.com
 * Template: bricks
 * Version: 1.0.0
 * Text Domain: blueprint
 * License: GNU General Public License v3 or Later
 * License URI: http://www.gnu.org/license/gpl-3.0.html
**/