/**
 * sass/theme/text.scss
 * @package blueprint
 * @author Scott Shealy
 * @version 1.0.0 (2025.12.01)
 * @copyright 2025 (2025.12.01)
**/

// LOAD PARTIALS
    @use "colors" as *;
    @use "links" as *;
    @use "../variables/index" as *;

// FORWARD PARTIALS

// FONT STACKS
    $font-primary: Helvetica, Arial, sans-serif;
    $font-secondary: Georgia, serif;

// FONT SIZES
    $font-size-base: 1.00rem;

    // FONT SIZE ADJUSTMENTS BY BREAKPOINTS
        $font-size-xs: $font-size-base * 1.00;
        $font-size-sm: $font-size-base * 1.00;
        $font-size-md: $font-size-base * 1.00;
        $font-size-lg: $font-size-base * 1.00;
        $font-size-xl: $font-size-base * 1.00;
        $font-size-xxl: $font-size-base * 1.00;

// TEXT WIDTH
    $text-width: 75ch;
    $text-width-body: $text-width;
    $text-width-headings: $text-width;

// COLORS
    $text-color-normal: $color-grayscale-dark-6;
    $text-color-alt: $color-brand-1-0;

    // DEFAULT TEXT COLORS
        $text-color-white: $color-grayscale-light-12;
        $text-color-light: $color-grayscale-light-9;
        $text-color-medium: $color-grayscale-0;
        $text-color-dark: $color-grayscale-dark-9;
        $text-color-black: $color-grayscale-dark-12;

// LINE HEIGHTS
    $line-height-overlap: 0.90;
    $line-height-single: 1.00;
    $line-height-condensed: 1.25;
    $line-height-normal: 1.50;
    $line-height-expanded: 1.75;
    $line-height-double: 2.00;

// LETTER SPACING
    $letter-spacing-condensed: -1px;
    $letter-spacing-normal: 0px;
    $letter-spacing-expanded: 1px;

// BODY TEXT
    $body-text: $font-primary;
    $body-text-size: $font-size-base;
    $body-text-color: $text-color-normal;

    // BODY TEXT STYLES
        $body-text-height: $line-height-normal;
        $body-text-spacing: $letter-spacing-normal;
        $body-text-margin: $margin-sm;

// HEADING TEXT
    $heading-text: $font-secondary;
    $heading-text-color: $text-color-dark;

    // HEADING DEFAULT SIZES
        $heading-text-size-h1: 2.25rem;
        $heading-text-size-h2: 2.00rem;
        $heading-text-size-h3: 1.75rem;
        $heading-text-size-h4: 1.50rem;
        $heading-text-size-h5: 1.25rem;
        $heading-text-size-h6: 1.00rem;

    // HEADING TEXT STYLES
        $heading-text-style: none;
        $heading-text-height: $line-height-condensed;
        $heading-text-spacing: $letter-spacing-normal;
        $heading-text-margin: $margin-md;

// LINKS
    $link-text-color: $link-color;
    $link-hover-text-color: $link-hover-color;
    $link-text-weight: 700;