/**
 * sass/parts/pages.scss
 * @package blueprint
 * @author Scott Shealy
 * @version 1.0.0 (2025.12.01)
 * @copyright 2025 (2025.12.01)
**/

// LOAD PARTIALS
    @use "../theme/index" as *;
    @use "../variables/index" as *;
    @use "../components/index" as *;
    @use "../layouts/index" as *;

// FORWARD PARTIALS
// STYLES