/**
 * sass/components/gradients.scss
 * @package blueprint
 * @author Scott Shealy
 * @version 1.0.0 (2025.12.01)
 * @copyright 2025 (2025.12.01)
**/

// LOAD PARTIALS
    @use "text" as *;
    @use "../theme/index" as *;
    @use "../variables/index" as *;
    @use "../layouts/index" as *;

// FORWARD PARTIALS
// STYLES
    .gradient {
        // GLOBAL
        // MOBILE
            @media #{$media-xs} {} //.COL-XS
            @media #{$media-sm} {} //.COL-SM
            @media #{$media-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$media-lg} {} //.COL-LG
            @media #{$media-xl} {} //.COL-XL
            @media #{$media-xxl} {} //.COL-XXL

        #{$text-all} {
            // GLOBAL
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } //TEXT-ALL
        
        #{$text-headings-all} {
            // GLOBAL
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } //TEXT-HEADINGS-ALL

        #{$text-body-all} {
            // GLOBAL
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } //TEXT-BODY-ALL

        #{$text-links-all} {
            // GLOBAL
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } //TEXT-LINKS-ALL

        &-1 {
            // GLOBAL
                @extend .gradient;
                background: $gradient-1-color;
                
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL

                #{$text-all} {
                    // GLOBAL
                        color: $gradient-1-text-color;

                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE
        
                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL
                } //TEXT-ALL
        } //.GRADIENT-1

        &-2 {
            // GLOBAL
                @extend .gradient;
                background: $gradient-2-color;
                
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL

                #{$text-all} {
                    // GLOBAL
                        color: $gradient-2-text-color;

                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE
        
                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL
                } //TEXT-ALL
        } //.GRADIENT-2

        &-3 {
            // GLOBAL
                @extend .gradient;
                background: $gradient-3-color;
                
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL

                #{$text-all} {
                    // GLOBAL
                        color: $gradient-3-text-color;

                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE
        
                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL
                } //TEXT-ALL
        } //.GRADIENT-3

        &-4 {
            // GLOBAL
                @extend .gradient;
                background: $gradient-4-color;
                
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL

                #{$text-all} {
                    // GLOBAL
                        color: $gradient-4-text-color;

                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE
        
                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL
                } //TEXT-ALL
        } //.GRADIENT-4

        &-5 {
            // GLOBAL
                @extend .gradient;
                background: $gradient-5-color;

                
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL

                #{$text-all} {
                    // GLOBAL
                        color: $gradient-5-text-color;

                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE
        
                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL
                } //TEXT-ALL
        } //.GRADIENT-5

        &-6 {
            // GLOBAL
                @extend .gradient;
                background: $gradient-6-color;
                
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL

                #{$text-all} {
                    // GLOBAL
                        color: $gradient-6-text-color;

                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE
        
                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL
                } //TEXT-ALL
        } //.GRADIENT-6

        &-7 {
            // GLOBAL
                @extend .gradient;
                background: $gradient-7-color;
                
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL

                #{$text-all} {
                    // GLOBAL
                        color: $gradient-7-text-color;

                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE
        
                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL
                } //TEXT-ALL
        } //.GRADIENT-7

        &-8 {
            // GLOBAL
                @extend .gradient;
                background: $gradient-8-color;
                
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL

                #{$text-all} {
                    // GLOBAL
                        color: $gradient-8-text-color;

                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE
        
                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL
                } //TEXT-ALL
        } //.GRADIENT-8

    } //.GRADIENT