/**
 * sass/components/tables.scss
 * @package blueprint
 * @author Scott Shealy
 * @version 1.0.0 (2025.12.01)
 * @copyright 2025 (2025.12.01)
**/

// LOAD PARTIALS
    @use "text" as *;
    @use "../theme/index" as *;
    @use "../variables/index" as *;
    @use "../layouts/index" as *;

// FORWARD PARTIALS
// STYLES
    .table {
        // GLOBAL
        // MOBILE
            @media #{$media-xs} {} //.COL-XS
            @media #{$media-sm} {} //.COL-SM
            @media #{$media-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$media-lg} {} //.COL-LG
            @media #{$media-xl} {} //.COL-XL
            @media #{$media-xxl} {} //.COL-XXL

        thead {
            // GLOBAL
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL

            tr {
                // GLOBAL
                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL

                th, td {
                    // GLOBAL
                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE

                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL
                } //TH, TD
            } //TR
        } //THEAD

        tbody {
            // GLOBAL
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL

            tr {
                // GLOBAL
                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL

                td {
                    // GLOBAL
                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE

                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL
                } //TD
            } //TR
        } //TBODY

    } //.TABLE