/**
 * sass/components/videos.scss
 * @package blueprint
 * @author Scott Shealy
 * @version 1.0.0 (2025.12.01)
 * @copyright 2025 (2025.12.01)
**/

// LOAD PARTIALS
    @use "text" as *;
    @use "../theme/index" as *;
    @use "../variables/index" as *;
    @use "../layouts/index" as *;

// FORWARD PARTIALS
// STYLES
    .video {
        // GLOBAL
        // MOBILE
            @media #{$media-xs} {} //.COL-XS
            @media #{$media-sm} {} //.COL-SM
            @media #{$media-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$media-lg} {} //.COL-LG
            @media #{$media-xl} {} //.COL-XL
            @media #{$media-xxl} {} //.COL-XXL

        &-responsive {
            // GLOBAL
                @extend .video;
                height: 0.00rem;
                position: relative;
                padding-top: 30px;
                padding-bottom: 56.25%;
                overflow: hidden;

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL

            iframe, object, embed {
                // GLOBAL
                    height: 100.00%;
                    width: 100.00%;
                    position: absolute;
                    top: 0.00%;
                    left: 0.00%;
                    
                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //IFRAME, OBJECT, EMBED

        } //.VIDEO-RESPONSIVE

    } //.VIDEO