/**
 * sass/variables/index.scss
 * @package blueprint
 * @author Scott Shealy
 * @version 1.0.0 (2025.12.01)
 * @copyright 2025 (2025.12.01)
**/

// LOAD PARTIALS
// FORWARD PARTIALS
    @forward "colors";
    @forward "units";
    @forward "media";
    @forward "lists";
    @forward "functions";
    @forward "mixins";