/**
 * sass/layouts/columns.scss
 * @package blueprint
 * @author Scott Shealy
 * @version 1.0.0 (2025.12.01)
 * @copyright 2025 (2025.12.01)
**/

// LOAD PARTIALS
    @use "../theme/index" as *;
    @use "../variables/index" as *;

// STYLES
    .column {
        // GLOBAL
        // MOBILE
            @media #{$media-xs} {} //.COL-XS
            @media #{$media-sm} {} //.COL-SM
            @media #{$media-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$media-lg} {} //.COL-LG
            @media #{$media-xl} {} //.COL-XL
            @media #{$media-xxl} {} //.COL-XXL

        &-split {
            // GLOBAL
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL

            &-1 {
                // GLOBAL
                    @extend .column-split;
                    columns: 1;

                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {
                        columns: 1;
                    } //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //.COLUMN-SPLIT-1

            &-2 {
                // GLOBAL
                    @extend .column-split;
                    columns: 1;

                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {
                        columns: 2;
                    } //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //.COLUMN-SPLIT-2

            &-3 {
                // GLOBAL
                    @extend .column-split;
                    columns: 1;

                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {
                        columns: 3;
                    } //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //.COLUMN-SPLIT-3

            &-4 {
                // GLOBAL
                    @extend .column-split;
                    columns: 1;

                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {
                        columns: 2;
                    } //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {
                        columns: 4;
                    } //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //.COLUMN-SPLIT-4

        } //.COLUMN-SPLIT
        
    } //.COLUMN